﻿@model List<Vidly.Models.Customer>

@{ 
    foreach (var cust in Model)
    {
        var link = cust.Name;
        <h1>@Html.ActionLink(link, "Details/" + cust.Id, "Customer"  )</h1>
    }

}
<h2>Index</h2>

