﻿@model Vidly.ViewModels.RandomMovieViewModel

@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*comment*@

@{
    var className = Model.Customers.Count > 4 ? "popular" : null;
}

<h2 class="@className">@Model.Movie.Name</h2>
@if (Model.Customers.Count == 0)
{
    <p>No one has rented this movie before</p>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>	         }

@*<h2>@ViewData["Movie"].ToString()</h2>*@
@*@Model.Name
    @ViewBag.Movie*@

